In [0]:
from nltk.tokenize import word_tokenize
import pandas as pd
from sklearn.model_selection import train_test_split
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
mails = pd.read_csv("/content/spam_ham_dataset.csv", header=0)
mails.head()

   Unnamed: 0  ... label_num
0         605  ...         0
1        2349  ...         0
2        3624  ...         0
3        4685  ...         1
4        2030  ...         0

[5 rows x 4 columns]

In [0]:
data_train, data_test, label_train, label_test = train_test_split(mails['text'], mails['label'],test_size=.10)

In [0]:
word_count = {}
stop_words = set(stopwords.words('english')) 

for data, label in zip(data_train, label_train):
  if label == "ham":
    continue
  words = word_tokenize(data)
  for word in words:
    if word in stop_words:
      continue
    if not word.isalpha():
      continue
    if len(word) <= 1:
      continue
    if word in word_count.keys():
      word_count[word] += 1
    else:
      word_count[word] = 1

In [0]:
word_count = list(word_count.items())
word_count.sort(key = lambda elem: elem[1], reverse=True)

In [0]:
word_count[1:51]

[('com', 925),
 ('http', 817),
 ('company', 646),
 ('www', 539),
 ('font', 482),
 ('information', 456),
 ('get', 444),
 ('please', 438),
 ('email', 432),
 ('price', 421),
 ('us', 416),
 ('statements', 408),
 ('nbsp', 392),
 ('new', 382),
 ('may', 375),
 ('one', 361),
 ('td', 326),
 ('time', 321),
 ('pills', 309),
 ('free', 285),
 ('size', 280),
 ('within', 274),
 ('message', 270),
 ('money', 270),
 ('stock', 256),
 ('height', 253),
 ('investment', 250),
 ('inc', 241),
 ('online', 237),
 ('report', 236),
 ('business', 232),
 ('best', 230),
 ('looking', 227),
 ('contact', 226),
 ('securities', 225),
 ('click', 223),
 ('computron', 222),
 ('like', 221),
 ('mail', 217),
 ('prices', 208),
 ('need', 207),
 ('products', 201),
 ('width', 201),
 ('future', 195),
 ('go', 194),
 ('software', 191),
 ('net', 191),
 ('color', 191),
 ('news', 189),
 ('face', 189)]

In [0]:
list = []
for word in word_count[1:51]:
  list.append(word[0])

In [0]:
import json
with open('data.json', 'w') as f:
    json.dump(list, f)