In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
import pandas as pd
from sklearn.model_selection import train_test_split
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
mails = pd.read_csv("/content/drive/My Drive/spam_ham_dataset.csv", header=0)
mails.head()

   Unnamed: 0  ... label_num
0         605  ...         0
1        2349  ...         0
2        3624  ...         0
3        4685  ...         1
4        2030  ...         0

[5 rows x 4 columns]

In [0]:
import json
f = open('/content/drive/My Drive/cns/data.json',)
data = json.load(f)
f.close()

In [0]:
data_train, data_test, label_train, label_test = train_test_split(mails['text'], mails['label'],test_size=.10)

In [0]:
stop_words = set(stopwords.words('english'))

In [0]:
mail_vectors = []
count_list_train = []
for text, label in zip(data_train, label_train):
  mail_text = word_tokenize(text.lower())
  word_count={}
  ext_count=0
  for word in mail_text:
    if word in stop_words:
      continue
    if not word.isalpha():
      continue
    if len(word) <= 1:
      continue
    if word in data:
      if word in word_count.keys():
        word_count[word] += 1
      else:
        word_count[word] = 1
    else:
      ext_count=ext_count+1
  for item in data:
    if item not in word_count.keys():
      word_count[item]=0
  word_count = list(word_count.items())
  word_count.sort(key = lambda elem: elem[1], reverse=True)
  list1 = []
  for word in word_count:
    list1.append(word[1])
  list1.append(ext_count)
  mail_vectors.append(list1)

In [0]:
test_vectors = []
for text, label in zip(data_test, label_test):
  mail_text = word_tokenize(text.lower())
  word_count={}
  ext_count=0
  for word in mail_text:
    if word in stop_words:
      continue
    if not word.isalpha():
      continue
    if len(word) <= 1:
      continue
    if word in data:
      if word in word_count.keys():
        word_count[word] += 1
      else:
        word_count[word] = 1
    else:
      ext_count=ext_count+1
  for item in data:
    if item not in word_count.keys():
      word_count[item]=0
  word_count = list(word_count.items())
  word_count.sort(key = lambda elem: elem[1], reverse=True)
  list1 = []
  for word in word_count:
    list1.append(word[1])
  list1.append(ext_count)
  test_vectors.append(list1)

In [19]:
df = pd.DataFrame(data=mail_vectors)
df.head()

   0   1   2   3   4   5   6   7   8   9   ...  41  42  43  44  45  46  47  48  49   50
0   1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0   74
1   4   2   1   1   1   1   1   1   0   0  ...   0   0   0   0   0   0   0   0   0  259
2  13   4   3   3   2   2   1   1   1   1  ...   0   0   0   0   0   0   0   0   0  305
3   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0   16
4  37  13   1   1   1   1   1   1   1   1  ...   0   0   0   0   0   0   0   0   0  322

[5 rows x 51 columns]

In [20]:
df_test = pd.DataFrame(data=test_vectors)
df_test.head()

   0   1   2   3   4   5   6   7   8   9   ...  41  42  43  44  45  46  47  48  49   50
0   2   2   1   1   1   1   1   0   0   0  ...   0   0   0   0   0   0   0   0   0  141
1   1   1   1   1   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0    9
2   6   1   1   1   1   1   1   0   0   0  ...   0   0   0   0   0   0   0   0   0   99
3   3   2   1   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0  108
4   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0   11

[5 rows x 51 columns]

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [22]:
rf = RandomForestClassifier(max_depth=10, random_state=0)
rf.fit(df,label_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [23]:
lr = LogisticRegression(random_state=0).fit(df,label_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [24]:
sv = SVC()
sv.fit(df,label_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
test_predict_rf = rf.predict(df_test)
accuracy_score(test_predict_rf,label_test)

0.7857142857142857

In [29]:
test_predict_lr = lr.predict(df_test)
accuracy_score(test_predict_lr,label_test)

0.7007722007722008

In [30]:
test_predict_sv = sv.predict(df_test)
accuracy_score(test_predict_sv,label_test)

0.693050193050193